html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  position: absolute;
  top: 5em;
  left: 50%;
  transition: all 200ms linear;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  top: 120px;
  left: 80px;
}

body {
  position: relative;
}

figure {
  position: relative;
}

figure:last-child {
  transform: rotate(33deg);
  left: 40%;
  bottom: 240px;
}

figure:first-child {
  transform: rotate(-10deg);
  left: 20%;
  top: 100px;
}

figure:nth-last-child(2) {
  transform: rotate(6deg);
  left: 30%;
  bottom: 10px;
  z-index: 100;
}
