html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

figure {
  position: relative;
}

.stegosaurus {
  transform: rotate(33deg);
  left: 40%;
  bottom: 80px;
}

.hadrosaur {
  transform: rotate(-10deg);
  left: 20%;
  top: 100px;
}

.pteranodon {
  transform: rotate(6deg);
  left: 30%;
  bottom: 200px;
}
